# Default ignored files
/shelf/
./.gitignore
# Datasource local storage ignored files
/../../../../../../:\Users\pavel\IdeaProjects\WebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
